################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/SocialAnalytics/.vs
/Backend/SocialAnalytics/bin/Debug/net8.0
/Backend/SocialAnalytics/obj
